<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui_androidapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UI_AndroidApp">
        <activity
            android:name=".webViewActivity2"
            android:exported="false"
            android:label="webView"/>
        <activity
            android:name=".FaovoriteReadActivity2"
            android:exported="false"
            android:label="Favorie Books"/>
        <activity
            android:name=".CurrentlyReadActivity2"
            android:exported="false"
            android:label="Currently Reading Books"/>
        <activity
            android:name=".WantReadBook2"
            android:exported="false"
            android:label="Want To Read"/>
        <activity
            android:name=".AlreadyReadActivity2"
            android:exported="false"
            android:label="Already Read Books"/>
        <activity
            android:name=".BookDetailsActivity2"
            android:exported="false" />
        <activity
            android:name=".AllBooks2"
            android:exported="false"
            android:label="All Books"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>